/* alacris.css */

html { font-size: 100%; }
.navbar-brand { font-size: 1em; font-weight:600; }
header { font-size: 1.1em; }
footer { font-size: .9em; }
h1 { font-size: 2em; font-weight:600; }
h2 { font-size: 1.25em; font-weight:600; }
h3 { font-size: 1.2em; font-weight:600; }
h4 { font-size: 1.15em; font-weight:600; }
h5 { font-size: 1.1em; font-weight:600; }
h6 { font-size: 1em; font-weight:600; }

.symbol {
    font-family: "BabelStone Han", "EversonMono", "FreeSerif", "Segoe UI Emoji", "Segoe UI Symbol", "Symbola", "Unifont";
    font-size: 3em;
    /* color: black; background-color: white; */
}
